body {
  background-image: url("/assets/paisley.png");

}

.header {
  height: 70px;
  width: 100%;
  background-color: #bd1550;
  color: black;

}

.header h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

.input  {
  display: inline-block;
  float:right;
  margin: 15px 40px 0 0;
  padding: 0 0 15px 0;
  font-family: 'Roboto', sans-serif;
  height: auto;
  width: 240px;
  border: 3px dashed #bd1550;
  text-align: center;

}

.inspiration {
  display: inline-block;
  color: #bd1550;
  font-size: 32px;
  height: auto;
  width: auto;
  float: right;

}

.inspiration h3 {
    font-family: cursive;
}


.table .title {
  font-size: 30px;
  text-align: left;
}

.table th {
  padding: 30px;
  color: #bd1550;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 18px;
}

.table td {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.table {
  display: inline-block;
  color: #bd1550;
  height: auto;
  list-style: none;
}

h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.button {
  background-color: black;
  color: #bd1550;
}

.image {
  display: inline-block;
  padding: 50px;
  float: right;

}
