body {
    background-color: rgba(244, 233, 234, 0.6);
}

.header {
  display: inline-block;
  height: 100px;
  width: 100%;
  background-color: #bd1550;
  color: black;

}

.header h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.header2 {
  display: inline-block;
  height: 80px;
  width: 100%;
  background-color: rgba(244, 233, 234, 0.6);

}

.header2 h2 {
  text-align: center;
}



.upper .toggle{
  margin: 100px;
  background-color:#bd1550;
	-moz-border-radius:33px;
	-webkit-border-radius:33px;
	border-radius:33px;
	border:12px solid #2d3133;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e02fd4;
}

.upper .toggle:hover {
	background-color:#20d3eb;

}

.toggle:active {
position:relative;
top:1px;
}


.input  {
  display: inline-block;
  float: right;
  padding: 0 0 15px 0;
  font-family: 'Roboto', sans-serif;
  height: auto;

  text-align: center;

}

.inspiration {
  display: inline-block;
  color: #bd1550;
  font-size: 32px;
  height: auto;
  width: auto;
  float: right;

}

.inspiration h3 {

}


.table .title h3 {
  text-align: left;
}

.table th {
  padding: 30px;
  color: #bd1550;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 18px;
}

.table td {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.table {
  display: inline-block;
  float: left;
  color: #bd1550;
  height: auto;
  list-style: none;
}


.image {
  display: inline-block;
  padding: 50px;
  

}
